.nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  z-index: 999;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  transition: all 1s;
  height: 2.5rem;
}
.nav_black {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  z-index: 999;
  justify-content: space-between;
  padding: 20px;
  background-color: #111;
  height: 2.5rem;
  transition: all 1s;
  align-items: center;
}
.nav_logo {
  width: 6rem;
  object-fit: contain;
  position: fixed;
  left: 30px;
}
.nav_avatar {
  width: 2.5rem;
  object-fit: contain;
  position: fixed;
  right: 30px;
}
