* {
  margin: 0;
  padding: 0;
}
.App {
  background-color: #111;
}
body::-webkit-scrollbar {
  width: 8px; /* 스크롤바의 너비 */
}

body::-webkit-scrollbar-thumb {
  height: 20%; /* 스크롤바의 길이 */
  background: rgb(49, 49, 49); /* 스크롤바의 색상 */
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background: rgb(0, 0, 0); /*스크롤바 뒷 배경 색상*/
}
